main {
  max-width: 1500px;
  margin-inline: auto;
  padding-inline: 40px;
}

a {
  text-decoration: none;
}

.grid_1-1-1-1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
  gap: 20px;
  margin-top: 80px;
  margin-bottom: 100px;
}

p {
  max-width: 900px;
  margin-inline: auto;
  padding-inline: 40px;
  margin-bottom: 3fr;
}

h1 {
  text-align: center;
}

hr {
  background-color: red;
  height: 4px;
  width: 700px;
  border: none;
  max-width: 900px;
  margin-inline: auto;
  padding-inline: 40px;
  margin-bottom: 25px;
}

.kategorier {
  margin: 0 auto;
}

.kategorier h2 {
  text-align: center;
}

.cirkel {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 10px solid #90a74c;
  background-image: url("https://cdn.dummyjson.com/recipe-images/1.webp");
  background-size: cover;
  background-position: center;
  margin-bottom: 10px;
}

.hero {
  aspect-ratio: 16/9;
  height: 650px;
  width: 100%;
  object-fit: cover;
}
