* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.product_list_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 4fr));
  gap: 20px;
}
.card {
  position: relative;
  display: grid;
  grid-template-columns: subgrid;
}
.time {
  position: absolute;
  z-index: 1;
  background-color: var(--lightgreen);
  color: white;
  padding: 10px;
  right: 0px;
}

.read_more {
  background-color: #e4b455;
  text-decoration: none;
  color: white;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
  text-align: center;
}
.info {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.info div {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.pic {
  width: 100%;
  object-fit: cover;
}
.product_list_container h2 {
  margin: 10px 5px;
}
.kategori {
  margin: 40px;
}
